<br>
<!-- Вывод ошибок -->
<%= render 'comments/errors' %>
<!-------------------------------------------------------------->

<div class="row" >

<%= form_for([ @page, @page.comments.build ]) do |f| %>
 
 <p>
   <%= f.text_field :author, placeholder: 'Напишите имя' %>
 </p>
 
 <p>
   <%= f.text_area :body, size: '85x10', placeholder: 'Напишите текст' %>
 </p>
  
  <p>
    <%= f.submit 'Добавить', class: "btn btn-success" %>
  </p>

<% end %>