<h3>Форма для добавления картинки</h3>

<%= form_for :page, url: pages_path, html: { multipart: true } do |f| %>

<!-- Вывод ошибок из формы для добавления картинок-->
<%= render 'errors/pages_errors' %>
<!-------------------------------------------------------------->

<%= f.text_area :text, size: '60x10', placeholder: 'Описание' %><br><br>
<%= f.file_field :image %><br><br>
<%= f.file_field :imagetwo %><br><br>
<%= f.file_field :imagethree %><br><br>
<%= f.submit 'Загрузить' %>
<% end %>