<!-- Вывод картинок на странице -->
<div class="row" >
 
<div class="col-md-4 thumb"  >

<a data-fancybox="gallery" ><br>
<%= image_tag @page.image.url if @page.image?  %>
</a>
</div>

<div class="col-md-4 thumb"  >
<a data-fancybox="gallery" ><br>
<%= image_tag @page.imagetwo.url if @page.imagetwo?  %>
</a>
</div>

<div class="col-md-4 thumb"  >
<a data-fancybox="gallery" ><br>
<%= image_tag @page.imagethree.url if @page.imagethree?  %>
</a>
</div>

</div><!--end row--> 
<br>

<!-------------------------------------------------------------->

<div class="row" style="font-size: 18px; font-family: Verdana">
  <h3 style="color: green" >Описание</h3>
  <%= @page.text %>
</div><!--end row--> 
<br>

<div class="row" 
style="text-align: center; color: #FFFFFF; background-color: SeaGreen;">
<h3>Комментарии</h3>
</div><!--end row--> <br>

<!-- Вывод комментариев-->
<div class="row">
<% @page.comments.each do |comment| %>

<div class="col-md" style="border: 1px solid SeaGreen">    

   <h5 style="color: green; font-family: Verdana; font-size: 18px; text-align: center;"> Автор </h5>
   
   <div style="text-align: center; font-family: Verdana">
    <%= comment.author %><br>
   </div>

   <h5 style="color: green; font-family: Verdana; font-size: 18px; text-align: center;"> Отзыв </h5>

    <div style="text-align: center; font-family: Verdana ">
     <%= comment.body %>
    </div>

   </div><!--end col--> <br> 
  <% end %>
</div><!--end row--> <br>

<!-------------------------------------------------------------->

<div class="row" 
style="text-align: center; color: #FFFFFF; background-color: Coral">
<h3>Ваш отзыв</h3>
</div><!--end row--> <br>

<!-- Форма для комментариев-->
<div class="row" >
<%= form_for([ @page, @page.comments.build ]) do |f| %>
 
 <p>
   <%= f.text_field :author, placeholder: 'Автор' %>
 </p>
 
 <p>
   <%= f.text_area :body, size: '85x10', placeholder: 'Напишите текст' %>
 </p>
  
  <p>
    <%= f.submit 'Добавить', class: "button-4" %>
  </p>

  <% end %>
</div><!--end row--> 

<!-------------------------------------------------------------->
 


