<div class="row">
<div class="col-md-4  thumb"  >

<a data-fancybox="gallery" ><br>
<%= image_tag @page.image.url if @page.image? %>
</a>

</div>

<div class="col-md-8" ><br><br>
<%= @page.text %>
</div>

</div><!--end row--> 

<br>

<div class="row">

<% @page.comments.each do |comment| %>
    
    <h5 style="color: green; font-family: Verdana; font-size: 18px"> Автор</h5>
    <%= comment.author %><br>
    <h5 style="color: green; font-family: Verdana; font-size: 18px">Отзыв</h5>
    <%= comment.body %>
 <hr>

<% end %>
</div><!--end row--> 


<br>

<div class="row" >

<%= form_with model: [ @page, @page.comments.build ] do |f| %>
 
 <p>
   <%= f.text_field :author, placeholder: 'Ваше имя' %>
 </p>
 
 <p>
   <%= f.text_area :body, size: '85x10', placeholder: 'Ваш отзыв' %>
 </p>
  
  <p>
    <%= f.submit 'Оставить отзыв', class: "btn btn-success" %>
  </p>
<% end %>
</div><!--end row--> 



