<!-- Форма входа для администратора-->
<br>
<div class="row" style="margin-top: 50px">
<div class="col-md-4"></div>
<div class="col-md-4">
<div id="range1">
  <div class="outer">
    <div class="middle">
       <div class="inner">
         <div class="login-wr">
          <h2>Вход</h2>
          
  <div class="form">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
     <%= f.text_field :email,  autofocus: true, autocomplete: "email", placeholder: "Email"  %>
       <%= f.text_field :password, autocomplete: "current-password",placeholder: "Пароль"  %>
           <%= f.button 'Авторизация' %>
    <% end %>
  </div><!-- end.form -->
    </div><!-- end.login-wr -->
      </div><!-- end.inner -->
        </div><!-- end.middle -->
         </div><!-- end.outer -->
           </div><!-- end.range1 -->

</div> <!-- end.col-md-4 -->

<div class="col-md-4"></div>

</div> <!-- end.row -->







<%= render "devise/shared/links" %>
